@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-slide-up {
    animation: fadeSlideUp 1s ease forwards;
}

@keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .slide-in-left {
    animation: slideInLeft 0.8s ease forwards;
  }
  
  .slide-in-right {
    animation: slideInRight 0.8s ease forwards;
  }
  html {
    scroll-behavior: smooth;
  }
  